<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Notice">
	<resultMap type="Notice" id="noticeMap">
		<id column="notice_idx" property="noticeIdx"></id>
		<result column="notice_title" property="noticeTitle"></result>
		<result column="notice_cont" property="noticeCont"></result>
		<result column="write_date" property="writeDate"></result>
	</resultMap>
	
	<select id="noticeListCnt" resultType="Int">
		select count(*) from TR_NOTICE
	</select>
	
	<select id="selectNotice" resultMap="noticeMap">
		select * from TR_NOTICE order by notice_idx desc limit ${start}, 5
	</select>
	
	<select id="noticeDetail" resultMap="noticeMap">
		select * from TR_NOTICE where notice_idx = #{noticeIdx}
	</select>
	
	<delete id="deleteNotice">
		delete TR_NOTICE where notice_idx = #{noticeIdx}	
	</delete>
	
	<update id="updateNotice">
		update TR_NOTICE set notice_title = #{noticeTitle}, notice_cont = #{noticeCont} where notice_idx = #{noticeIdx}
	</update>
	
	<insert id="insertNotice">
		insert into TR_NOTICE values(0, #{noticeTitle}, #{noticeCont}, sysdate())
	</insert>
</mapper>