@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.wrapper {
	width: 63%;
	height: 100%;
	color: pink;
	transform: translate(28%, 7%);
}

.ansbox-top {
	height: auto;
	width: 80%;
	transform: translateX(18%);
	border: 0.4px solid #2c396b;
	padding-top: 2%;
	margin-bottom: 5%;
	border-radius:11px;
}

.ansbox-bottom {
	height: 75%;
	width: 110%;
	position: absolute;
}

#bt1 {
	float: left;
	height: 100%;
	width: 50%;
}

#bt2 {
	float: right;
	height: 100%;
	width: 50%;
}

h5 {
	transform: translate(5%, 30%);
	font-family: "Open Sans", Arial, sans-serif;
	font-size:1.3vw;
}

h2 {
	transform: translate(4%, 38%);
	font-weight: bold;
}

.col-lg-8 {
	left: 14%;
}

#font-size {
	font-size: 15px;
}

