@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.wrapper {
	width: 63%;
	height: 100%;
	color: pink;
	transform: translate(28%, 7%);
}

.ansbox-top {
	height: 25%;
	width: 100%;
	transform: translateX(18%);
}

.ansbox-bottom {
	height: 75%;
	width: 110%;
	position: absolute;
}

#bt1 {
	float: left;
	height: 100%;
	width: 50%;
}

#bt2 {
	float: right;
	height: 100%;
	width: 50%;
}

h5 {
	transform: translate(5%, 30%);
}

h2 {
	transform: translate(4%, 38%);
	font-weight: bold;
}

.col-lg-8 {
	left: 14%;
}

#font-size {
	font-size: 15px;
}

.purple-border textarea {
	border: 1px solid #ba68c8;
}

.purple-border .form-control:focus {
	border: 1px solid #ba68c8;
	box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
}

.green-border-focus .form-control:focus {
	border: 1px solid #8bc34a;
	box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}

#btn {
	transform: translateX(250%);
}

#textarea {
	font-size: 1.2vw;
	width: 100%;
	border: 1px solid pink;
}

#person {
	float: left;
	background-image: url(../../../resources/img/circle_person.jpg);
	width: 15%;
	height: 75%;
	border: 1px solid black;
}

#startbutton {
	background-color: pink;
	width: 100%;
}