@charset "UTF-8";

html, body, form {
	height: 100%;
	width: 100%;
	font-family: "나눔고딕";
}

.wrapper {
	height: 100%;
	width: 100%;
	transform:translateX(15px);
}

.innerwrapper {
	height: 80%;
	width: 60%;
	transform: translateX(33%);
}

#h1 {
	text-align: center
}

.menu {
	width: 30%;
	transform: translateX(110%);
	height: 10%;
}

#table {
	height: 70%;
	width: 101%;
	transform: translateX(6%);
	font-size: 1.3vw;
}

table {
	width: 90%;
}

#tbody {
	border-top: 2px solid pink;
}

td, th {
	transform: translateX(13%);
	padding-right: 3%;
}

td {
	border-bottom: 1px solid lightgray;
}

#title {
	width: 47%;
	float:left;
}

.col {
	transform: translate(24%, 80%);
}

#btn {
	border: 0;
	outline: 0;
	background-color: white;
	cursor: pointer;
}
#num{
	width:5px;
}
